/*当屏幕尺寸小于1280px时，应用下面的CSS样式*/
@media screen and (max-width: 1280px) {
  .dx-md-hide {
    display: none;
  }

  .dx-menu {
    left: -220px;
    -moz-box-shadow: 3px 0 10px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 3px 0 10px rgba(0, 0, 0, .5);
    box-shadow: 3px 0 10px rgba(0, 0, 0, .5);
  }

  .dx-menu-box.show {
    width: 100%;
  }

  .dx-menu-box.show .dx-menu {
    left: 0;
  }

  .dx-header .logo {
    width: 105px;
  }

  .dx-header .title {
    left: 140px;
  }

  .dx-module {
    padding-left: 0;
  }
}

/*当屏幕尺寸大于1280px时，应用下面的CSS样式*/
@media screen and (min-width: 1280px) {
  .dx-md-show {
    display: none;
  }
}